<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/task
           http://www.springframework.org/schema/task/spring-task-4.0.xsd">
	
	<task:executor id="defaultExcutor" pool-size="${hx.schedule.executor.pool.size}"/>
	<task:scheduler id="taskScheduler" pool-size="${hx.schedule.scheduler.pool.size}"/>
	<task:annotation-driven executor="defaultExcutor" scheduler="taskScheduler"/>

	<bean id="scheduleLogDao" class="org.layz.hx.base.persist.dao.schedule.ScheduleLogDaoImpl"/>
	<bean id="scheduleLogService" class="org.layz.hx.base.service.schedule.ScheduleLogServiceImpl"/>
	
</beans>