<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/task
           http://www.springframework.org/schema/task/spring-task-4.0.xsd">
	
	<task:executor id="defaultExecutor" pool-size="${hx.schedule.executor.pool.size}"/>
	<task:scheduler id="taskScheduler" pool-size="${hx.schedule.scheduler.pool.size}"/>
	<task:annotation-driven executor="defaultExecutor" scheduler="taskScheduler"/>

	<!-- 异步任务线程操作配置 -->
	<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="${hx.schedule.task.core.pool.size}" />  <!-- 线程池维护线程的最少数量 -->
		<property name="keepAliveSeconds" value="${hx.schedule.task.keep.alive.seconds}" />  <!-- 保持活跃的秒数 -->
		<property name="maxPoolSize" value="${hx.schedule.task.max.pool.size}" />  <!-- 最大线程池大小 -->
		<property name="queueCapacity" value="${hx.schedule.task.queue.capacity}" />  <!-- 等待队列大小 -->
	</bean>

	<bean id="scheduleScanConfig" class="org.layz.hx.config.schedule.ScheduleScanConfig"/>
	<bean id="scheduleCronConfig" class="org.layz.hx.config.schedule.ScheduleCronConfig"/>

	<bean id="refreshScheduleJob" class="org.layz.hx.config.schedule.job.RefreshScheduleJob"/>
	<bean id="methodInvokeJob" class="org.layz.hx.config.schedule.job.MethodInvokeJob"/>

	<bean id="scheduleLogService" class="org.layz.hx.config.service.schedule.ScheduleLogServiceImpl"/>
	<bean id="scheduleLogDao" class="org.layz.hx.config.persist.dao.schedule.ScheduleLogDaoImpl"/>

	<bean id="scheduleScanService" class="org.layz.hx.config.service.schedule.ScheduleScanServiceImpl"/>
	<bean id="scheduleScanDao" class="org.layz.hx.config.persist.dao.schedule.ScheduleScanDaoImpl"/>

	<bean id="scheduleCronService" class="org.layz.hx.config.service.schedule.ScheduleCronServiceImpl"/>
	<bean id="scheduleCronDao" class="org.layz.hx.config.persist.dao.schedule.ScheduleCronDaoImpl"/>
</beans>