<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id= "dataSource" class="com.zaxxer.hikari.HikariDataSource">
        <property name="driverClassName" value="${hx.spring.jdbc.driver}"/>
        <property name="jdbcUrl" value="${hx.spring.jdbc.url}"/>
        <property name="username" value="${hx.spring.jdbc.username}"/>
        <property name="password" value="${hx.spring.jdbc.password}"/>
    </bean>
</beans>