<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	
	<import resource="classpath*:beanxml/spring-hx-core.xml"/>
	<import resource="classpath*:beanxml/spring-hx-persist.xml"/>
	<import resource="classpath*:beanxml/spring-hx-mvc.xml"/>
	<import resource="classpath*:beanxml/spring-hx-kafka.xml"/>
	<import resource="classpath*:beanxml/spring-*-dubbo.xml"/>
	<import resource="classpath*:beanxml/spring-*-package.xml"/>
</beans>